#cvc {
  width: 60px !important;
  margin-left: 15px !important;
  -webkit-text-security: disc; }

#card-expiry {
  width: 78px !important; }

.kJnpoy {
  padding: 20px 40px !important; }

#field-wrapper img {
  height: 38px; }

.sc-bxivhb .hlTfmo {
  width: 170px; }
